    * {
        margin: 0;
        padding: 0;
    }
    
    .card {
        width: 400px;
        height: 290px;
        background-color: rgb(255, 253, 253);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: center;
        margin: auto;
    }
    
    .card-body {
        padding: 0 10px 10px 10px;
    }
    
    .p-icon {
        text-align: center;
    }
    
    .card-title {
        /* padding: 0px 0 10px 0; */
        font-size: 30px;
        font-weight: 500;
        color: #050506;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    
    h2 {
        justify-content: center;
        text-align: center;
        margin-top: 5px;
    }
    
    .form-check {
        padding-top: 5px;
    }
    
    .btn-success {
        width: 20%;
        justify-content: center;
        text-align: center;
    }
    
    .header {
        transition: all 0.5s;
        z-index: 997;
        height: 60px;
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
        /* background-color: rgb(255, 255, 255); */
        background-color: rgb(242 103 34 / 41%);
        padding-left: 20px;
    }
    
    @media (min-width: 1200px) {
        .logo {
            width: 220px;
        }
    }
    
    .logo img {
        max-height: 26px;
        margin-right: 16px;
    }
    
    .logo span {
        font-size: 26px;
        font-weight: 700;
        color: #012970;
        font-family: "Nunito", sans-serif;
    }
    
    .header .toggle-sidebar-btn {
        font-size: 20px;
        padding-left: 5px;
        cursor: pointer;
        color: #012970;
    }
    
    .header-nav .nav-icon {
        font-size: 22px;
        color: #012970;
        margin-right: 25px;
        position: relative;
    }
    
    .header-nav ul {
        list-style: none;
    }
    
    .header-nav>ul {
        margin: 0;
        padding: 0;
    }
    
    .header-nav .profile .dropdown-item:hover {
        background-color: #f6f9ff;
    }
    
    .sidebar {
        position: fixed;
        top: 60px;
        left: 0;
        bottom: 0;
        width: 250px;
        z-index: 996;
        transition: all 0.3s;
        padding: 20px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #aab7cf transparent;
        box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
        background-color: #fff;
    }
    
    @media (max-width: 1199px) {
        .sidebar {
            left: -300px;
        }
    }
    
    .sidebar::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #fff;
    }
    
    .sidebar::-webkit-scrollbar-thumb {
        background-color: #aab7cf;
    }
    
    @media (min-width: 1200px) {
        #main,
        #footer {
            margin-left: 300px;
        }
    }
    
    @media (max-width: 1199px) {
        .toggle-sidebar .sidebar {
            left: 0;
        }
    }
    
    @media (min-width: 1200px) {
        .toggle-sidebar #main,
        .toggle-sidebar #footer {
            margin-left: 0;
        }
        .toggle-sidebar .sidebar {
            left: -300px;
        }
    }
    
    .sidebar-nav {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .sidebar-nav li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .sidebar-nav .nav-item {
        margin-bottom: 5px;
    }
    
    .sidebar-nav .nav-link {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        color: #4154f1;
        transition: 0.3;
        background: #f6f9ff;
        padding: 10px 15px;
        border-radius: 4px;
    }
    
    .sidebar-nav .nav-link.collapsed {
        color: #012970;
        background: #fff;
    }
    
    .sidebar-nav .nav-link.collapsed i {
        color: #899bbd;
    }
    
    .sidebar-nav .nav-link:hover {
        color: #141313;
        background-color: rgb(242 103 34 / 41%);
    }
    
    .alert {
        height: 40px;
    }
    
    .sales-table>.thead {
        background-color: rgb(255 0 0);
    }
    
    button {
        margin: auto;
    }